html,
body {
    height: 100%;
}

.bg {
    background-image: url(../img/background.jpeg);
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    padding: 50px;
}

h2 {
    padding-top: 20px;
}

h4 {
    padding-top: 20px;
    padding-bottom: 20px;
}

